@using PetShop.Web.Infrastructure.Middlewares;
@model IEnumerable<AllUsersViewModel>

@{
    ViewBag.Title = "All Users";
}

<h2 class="text-center text-info">@ViewBag.Title</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Email</label></th>
            <th><label>Phone Number</label></th>
            <th class="text-center"><label>User Is Seller</label></th>
            <th class="text-center"><label>User Is Online</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                @if (OnlineUsersMiddleware.CheckIfUserIsOnline(user.Id))
                {
                    <td class="text-success"><label>@user.Email</label></td>
                    <td class="text-success"><label>@user.PhoneNumber</label></td>
                    @if (user.PhoneNumber != string.Empty)
                    {
                        <td class="text-center text-success fw-bold"><label>Yes</label></td>
                    }
                    else
                    {
                        <td class="text-center text-danger fw-bold"><label>No</label></td>
                    }
                    <td class="text-center"><label>✔</label></td>
                }
                else
                {
                    <td class="text-danger"><label>@user.Email</label></td>
                    <td class="text-danger"><label>@user.PhoneNumber</label></td>
                    @if (user.PhoneNumber != string.Empty)
                    {
                        <td class="text-center text-success fw-bold"><label>Yes</label></td>
                    }
                    else
                    {
                        <td class="text-center text-danger fw-bold"><label>No</label></td>
                    }
                    <td class="text-center"><label>❌</label></td>
                }
            </tr>
        }
    </tbody>
</table>
